<div class="mt32" style="max-width: 1024px; margin: 0 auto;">
    <section class="container bg-gray-lighter oe_screenshot">
        <div class="row oe_spaced">
            <div class="col-md-12">
                <!-- The module's display name can differ from its technical name -->
                <h2 class="oe_slogan" style="color: #FF7E00;">MIS Builder - Import / Export</h2>
                <h3 class="oe_slogan">Function to import / export MIS Report Templates</h3>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="row oe_spaced">
            <h2 class="oe_slogan" style="color: #FF7E00;">Full export and import of report template</h2>
            <div class="col-md-6">
                <img class="oe_picture oe_screenshot" src="screenshot.png">
            </div>
            <div class="col-md-6 text-justify">
                <p class="oe_mt32">
                    When exporting a report, all related data are exported too:
                </p>
                <ul>
                    <li>KPIs</li>
                    <li>SubKPIs</li>
                    <li>Expressions</li>
                    <li>Queries</li>
                    <li>Sub Reports</li>
                    <li>Styles</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="row oe_spaced">
            <h2 class='oe_slogan' style="color: #FF7E00;">Quick Start</h2>
            <div class="col-sm-4">
                <h3 class='oe_slogan'>Installation</h3>
                <div>
                    <p class="oe_mt32">
                        There are no dependencies other than flectra base modules, so you can simply install the module.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <h3 class='oe_slogan'>Configuration</h3>
                <div>
                    <p class="oe_mt32">
                        No configuration options available.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <h3 class='oe_slogan'>Usage</h3>
                <div>
                    <p class="oe_mt32">
                        You will find two new menu items at Finance -> Configuration -> MIS Reporting:
                    </p>
                    <ul>
                        <li>Export MIS Report -> shows a PopUp to select the report to export</li>
                        <li>Import MIS Report -> shows a PopUp to select the file of exported report to import</li>
                    </ul>
                </div>
            </div>

        </div>
    </section>

</div>